.projects-container {
  padding: 40px;
}

.projects-container h1 {
  font-size: 60px;
  color: var(--white);
  font-weight: 400;
}

.projects-list {
  margin-left: 100px;
  margin-top: 100px;
}

.project {
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project p {
  font-size: 24px;
  text-align: justify;
  font-weight: 300;
}

.project > * {
  margin: 0;
}

.project h3 {
  font-size: 30px;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-card > img {
  width: 800px;
  border-radius: 15px;
  border: 2px solid var(--medium-aquamarine);
  box-shadow: rgba(97, 208, 149, 0.4) -3px 3px, rgba(97, 208, 149, 0.3) -6px 6px,
    rgba(97, 208, 149, 0.2) -9px 9px, rgba(97, 208, 149, 0.1) -12px 12px,
    rgba(97, 208, 149, 0.05) -15px 15px;
}

.project-text {
  width: 800px;
}

.project-repositories {
  margin-bottom: 20px;
}

.project-repositories > * {
  margin: 0;
}

.project a {
  text-decoration: none;
  color: var(--middle-grey);
  font-size: 20px;
}
