.header-container {
  background-color: var(--ksu-purple);
  color: var(--white);
  height: calc(100vh - 2 * 40px);
  font-family: 'Josefin Sans', sans-serif;
  padding: 40px;
  font-size: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container h1 {
  margin: 0;
  font-weight: 700;
}

.typed-container {
  width: 680px;
  align-self: flex-end;
}

.typed-container span.typed {
  font-size: 40px;
}

.languages {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.languages > * {
  cursor: pointer;
}
