body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  --ksu-purple: #4d28a9ff;
  --charleston-green: #2c302eff;
  --middle-grey: #96897bff;
  --white: #fefffeff;
  --medium-aquamarine: #61d095ff;
  --darker-ksu-purple: rgb(55, 28, 124);
  background-color: var(--ksu-purple);
  color: var(--white);
}

body > * {
  box-sizing: border-box;
}
